<launch>

  <!-- Map server -->
  <arg name="map_file" default="$(find kobuki_navigation)/maps/gazebo_test.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>

  <!-- AMCL -->
  <include file="$(find kobuki_navigation)/launch/amcl.launch.xml"/>

  <!-- move_base -->
  <!-- <arg name="cmd_vel_topic" default="navigation_velocity_smoother/robot_raw_vel" /> -->
  <!-- <arg name="cmd_vel_topic" default="/mobile_base/commands/velocity" /> -->
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="scan_topic" default="scan" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find kobuki_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find kobuki_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find kobuki_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find kobuki_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find kobuki_navigation)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find kobuki_navigation)/param/move_base_params.yaml" command="load" />
    
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <!-- <arg name="laser_topic" value="$(arg scan_topic)" /> -->
  </node>

  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kobuki_navigation)/rviz/kobuki_nav.rviz" /> -->
</launch>

